<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <script>
      0;
    </script>
      <header>
        <%- include('../partials/header') %>
      </header>
      <main>
        <%- include('../partials/execution') %>
      </main>
    </div>
  </body>
</html>
