<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <script>
      0;
    </script>
    <header>
      <%- include('../partials/header') %>
    </header>
    <main>
      <%- (tasks.length) ? include('../partials/tasks') :
      include('../partials/tasks-empty') %>
    </main>
  </body>
</html>
