<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <header>
      <%- include('../partials/header') %>
    </header>
    <main>
      <%- include('../partials/tasks') %>
    </main>
  </body>
</html>
